venv/
.venv/
env/
.env/
*.pyc
.pytest_cache/
.mypy_cache/
.coverage
.vscode/
instance/
*.db
*.sqlite
*.sqlite3
migrations/
alembic/versions/
alembic.ini
.env
.flaskenv
*.sublime-workspace
.idea/
*.swp